# Core AI Libraries
ultralytics==8.3.0
torch>=2.0.0
torchvision>=0.15.0

# Image Processing
opencv-python-headless==4.8.0.74
numpy>=1.23.5
Pillow>=9.5.0
shapely>=2.0.0   # Needed for OBB polygon math

# Data Handling
pandas>=2.0.0
openpyxl>=3.1.0
requests>=2.31.0
tqdm>=4.65.0